<div id="container">
  <div id="header">

<h2> Hello, <%= @event.hostName %>!, </h2>
</div>
<h3>Your friend <%= @guest.email %> has responded <%= @guest.rsvp %> to <%= @event.title %>! </h3>

 </div>
	 	<div id="footer">
   		 <h4><i> Copyright © Evite System 2012 </i></h4>
  	</div>