<div id="container">
  <div id="header">

<h2> Hello, <%= @user.username %>!, </h2>
<br>
 </div>
<h3> Thanks for joining our service! <br><br>

	Get started now by creating events and inviting all of your friends! </h3> <br>
 </div>
	 	<div id="footer">
   		 <h4><i> Copyright © Evite System 2012 </i></h4>
  	</div>