<%= stylesheet_link_tag 'design' %>

<div id="container">
	<div id="navigation">
		<ul>
			<li><a href="home">Home</a></li>
			<li><a href="users/new">Register</a></li>
			<li><a href="login">Login</a></li>
		</ul>
	</div><br>
	<div id="header">
		<h1>
			Evite System
		</h1>
	</div>
	
	<div id="content">
		<h2>
			Throwing a party for the holidays?
		</h2>
		<p>
			As the calendar fills up with holiday celebrations, carve out time for your nearest and dearest.  Start now by registering an account and sending out those holiday invitations!
		</p>
		<h3>
			Services
		</h3>
		<p>
			Stop mailing out those invitations and start emailing them!  It's easier, faster, and you can stay updated about everyone who is going!
		</p>
		<h3>
			Contact Us
		</h3>
		<p>
			Feel free to contact an administrator at anytime!</br> 
			Emails are: </br>
		    ferraro@eviteServices.com </br>
		    rice@eviteServices.com </br>
		    west@eviteServices.com</br>

		</p>
	
	</div>

</div>