<%= stylesheet_link_tag 'design' %>
<div id="container">
<div id="navigation">
    <ul>
      <li><a href="/home">My Home</a></li>
      <li><a href="/events">My Events</a></li>
      <li><a href="/events/new">Create New Event</a></li>
      <li><a href="/users/<%= current_user.id%>/edit">Profile Settings</a></li>
      <% if current_user.admin == true %>
        <li><a href="users">View All Users</a></li>    
      <% end %>
         <li><%= link_to "Logout", :logout %></li>
    </ul>
  </div>
  <br>
<div id="header">
    <h1>
      New Event
    </h1>
  </div>

<%= render 'form' %>

</div>
